<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" type="text/css" href="/css/styles.css" />
   <link rel="icon" href="/img/weather.png" />
   <title>About Me</title>
</head>

<body>
   <div class="main-content">
      {{>header}}
      <p style="color:#851e3e">I'm currently studying in the 2nd year of IPG-MTECH (B.TECH + M.TECH IT) in ABV-IIITM,
         Gwalior. I have
         explored various
         domains like Competetive coding, Web Development. I'm also an open-source enthusiast. I don't say that I'm a
         pro in any
         of the fields that I've explored but I do whatever I do with utmost interest and passion which makes me
         learn
         and get
         used to things quickly.</p>
   </div>
   {{>footer}}

</body>

</html>